/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 9, 2022, 8:20:42 AM
    Author     : ASUS
*/
.button:pressed, .button:default:hover:pressed {
  -fx-background-color: blue;
  -fx-text-fill: #1d1d1d;
}
